{% extends "header.html" %} 

{% block body %} 

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#wdev" aria-controls="wdev" role="tab" data-toggle="tab">WebDev</a></li>
    <li role="presentation"><a href="#devops" aria-controls="devops" role="tab" data-toggle="tab">DevOps</a></li>
    <li role="presentation"><a href="#dan" aria-controls="dan" role="tab" data-toggle="tab">Data Analysis</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">
    	<ul>
    		{% for t in TOPIC_DICT["home"] %}
    		<li><a href="{{t[1]}}">{{t[0]}}</a></li>
    		{% endfor %}   
    	</ul>
    </div>




    <div role="tabpanel" class="tab-pane" id="wdev">WebDev</div>
    <div role="tabpanel" class="tab-pane" id="devops">DevOps</div>
    <div role="tabpanel" class="tab-pane" id="dan">Data Analysis</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>

</div>

{% endblock %}