
{% extends "header.html" %} 

{% block body %} 

<body>
	  
<div class="container">
	  <br>
      <h3>Please login:</h3>
      <br>
      <form action="" class="form-inline" method="post">
      	<label>Username:</label>
        <input type="text" class="form-control" placeholder="Username" name="username" value="{{request.form.username}}">
        <label>Password:</label>
        <input type="password" class="form-control" placeholder="Password" name="password" value="{{request.form.password}}">
        <input class="btn btn-default" type="submit" value="Login" style="background-color:#FFD166;color:#000">
      </form>

      <p>{{error}}</p>
      
	<div class="container">
	   <br><p>No account? <a href='/register'>Register here</a></p>
	   <p><a href='/forgot-password/'>Forgot Password?</a></p>
	  
		
</div>


</body>
				
		



{% endblock %}